:root{
    --PrimaryColor:#22262a;
    --SecundaryColor:#b3b3b3;
}
*{
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body{
    font-family:'PT Sans', sans-serif;
    margin: 0;
    font-size: .8em;
    text-transform: uppercase;
    font-weight: bold
}

.container-header{
    display: grid;
    grid-template-columns: 10% 20% 40% 20% 10%;
    grid-auto-rows: repeat(2,auto);
    grid-template-areas: '. sign-in logo-marvel marvel-master-card .'
                         'items-menu items-menu items-menu items-menu items-menu';
    background-color: var(--PrimaryColor);
    color: white;
    
}
.sign-in{
    grid-area: sign-in;
    display: flex;
    align-items: center;
    background-image: url('../images/sign-in-icon.png');
    background-repeat: no-repeat;
    background-size: 2.5em;
    padding: 0 1.5em;
    background-position-x: 20px;
    background-position-y: center;
    border-left: 1px solid var(--SecundaryColor);
    

}
.sign-in p{
    font-size: 1.5em;
 margin-left: 2em
}
.logo-marvel{
    grid-area:logo-marvel;
    height: 5.5em;
    margin: 0 auto
}

.marvel-master-card{
    
    grid-area:marvel-master-card;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid var(--SecundaryColor);
    border-right: 1px solid var(--SecundaryColor);
}

.marvel-master-card img {
    height: 3.2em;
    
}

.items-menu{
    grid-area: items-menu;
    border-top: 1px solid var(--SecundaryColor);;
    display: flex;
    align-items: center;
    justify-content: center
}

.items-menu ul li{
   
    display: inline;
    margin-right: 3.1em
}

.container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2,auto);
    grid-template-areas: '. container-groot container-text-groot container-text-groot . .'
                         '. container-groot . . container-deadpool container-text-deadpool';
    padding-top: 4em 0;
    margin-top: 3em 0 
}

.container-groot{
    grid-area: container-groot;
    padding: 2.5em 0
    
}

.container-groot img{
   height: 359px;
   width: auto
}

.container-text-groot{
    grid-area: container-text-groot;
    
}

.container-text-groot p{
    font-size: 43px;
    text-transform: none;
    margin: 0;
    /* position: absolute; */
    
    

}


.container-deadpool{
    grid-area: container-deadpool;
   
}

.container-deadpool img{
    height: 297px;
    width: auto;
    
}

.container-text-deadpool{
    grid-area: container-text-deadpool;
    position: relative;

}
.container-text-deadpool p{
   font-size: 1.1em;
   text-transform: none;
   position: absolute;
   left: -4.3em;
  
    
}